<html>
  <head>
    <title>StartWare</title>
    <link href='/stylesheets/application.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    

    <%= render 'sign_in_modal' %>
    <%= render 'sign_up_modal' %> 

    <div class="row">
      <div class="small-9 small-centered columns yellow">
          <% if current_user %>
          <div id="welcomeMessage">
            <p id="welcomeMessage">Welcome <%= @user.email %>,</p> 
          </div>
          <div id="slogan">
            Check out awesome products by startups and artwork by budding artists.
          </div>
          <% end %>

          <%= render 'product_stream' %>

      </div>
    </div>
  
  </body>
</html>
