body {
  background-color: #ebeced;
}

// header

.headerWrapper {
  background-color: #333333;
  width: 100%;
}

// modal 

.deviseForm {
  width: 500px;
  height: 300px;
  margin-left: -280px;
}

#signUpModal {
  width: 500px;
  height: 360px;
  margin-left: -280px;
}

#signInButton {
  width:440px;
}

#signUpButton {
  width:440px;
}

// product feed 

.yellow {
  height:1000px;
}

div#welcomeMessage {
  padding-top: 10px;
}

p#welcomeMessage {
  font-size: 30px;
}

div#slogan {
  
}