body {
  background-color: #edeced;
}

div.productArea {
  // can change background color of product stream here
}

// header

.headerWrapper {
  background-color: #333333;
  width: 100%;
}

// ul.left li a {
//   font-size:1.0625rem;
//   font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// }

// modal 

.deviseForm {
  width: 500px;
  height: 300px;
  margin-left: -280px;
}

#signUpModal {
  width: 500px;
  height: 360px;
  margin-left: -280px;
}

#signInButton {
  width:440px;
}

#signUpButton {
  width:440px;
}

// product feed 

.yellow {
  height:1000px;
}

div#welcomeMessage {
  padding-top: 10px;
}

p#welcomeMessage {
  font-size: 30px;
}

div#slogan {
  
}

div.productStreamWrapper {
  margin-top: 20px;
}

div.productWrapper {
  background-color: white;
  width: 520px;
  height: 510px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

img.image {
  margin:10px;
  height: 400px;
  width: 500px;
}

div.productDetails {
  // margin-top:-20px;
  margin-left: 10px;
  margin-right: 10px;
}

p.productDescription {
  margin-top: 5px;
}

span.productOptions {
  float: right;
}

.productImage {
    position: relative;
    padding-top: 2px;
}
.productImage img {
    display: block;
    margin-top: 10px;
}
.productImage .clickMe {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    height:40px;
    line-height:35px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #333333;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    margin-left: 10px;
    margin-right: 10px;

}
.productImage:hover .clickMe {
    opacity: 0.8;
}

.leftOption {
  float:left;
  font-size:15px;
}

.rightOption {
  float:right;
}

// product modal

div#productModal {
  
}

div.largeModal {
  height:420px;
  width:1000px;
  // padding:0;
  border-width: 2px;
  border-color: #333333; 
  padding:0px;
}

div.modalImage {
  // float:left;
  display:inline-block;
  padding-left:0px;
  height:500px;
  width:400px;

}

img.modal {
  margin-left:5px;
  margin-top:5px;
  height:400px;
  width:400px;
}

div.textWrapper {
  // margin-left:550px;
  display:inline-block;
  padding-top: 5px;
  height:300px;
  width:500px;
  padding-left: 40px;
  position:absolute;
}

div#productTitle {
  font-size: 30px;
}

p.description {
  text-align:justify;
}

p.price {
  position: relative;
  line-height: 3;
  display:inline-block;
}

a.facebookLink {
  margin-left:20px;
  float: right;
}

a.twitterLink {
  float: right;
}

// new product form 

.newProductForm {
  padding-top: 20px;
  background-color: white;
}

p.newProductIntro {
  font-size: 30px;
  color: #008cba;
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

div.newForm {
  color: #008cba;
}