body {
  background-color: #ebeced;
}

// header

.headerWrapper {
  background-color: #333333;
  width: 100%;
}

// modal 

.deviseForm {
  width: 500px;
  height: 300px;
  margin-left: -280px;
}

#signUpModal {
  width: 500px;
  height: 360px;
  margin-left: -280px;
}

#signInButton {
  width:440px;
}

#signUpButton {
  width:440px;
}

// product feed 

.yellow {
  height:1000px;
}

div#welcomeMessage {
  padding-top: 10px;
}

p#welcomeMessage {
  font-size: 30px;
}

div#slogan {
  
}

div.productStreamWrapper {
  margin-top: 20px;
}

div.productWrapper {
  background-color: white;
  width: 520px;
  height: 510px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

img.image {
  margin:10px;
  height: 400px;
  width: 500px;
}

div.productDetails {
  margin-left: 10px;
  margin-right: 10px;
}

p.productDescription {
  margin-top: 5px;
}

span.productOptions {
  float: right;
}